
<!-- Just an image -->
<!--<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-2">
            <a class="navbar-brand" href="#">
                <img src="~/Images/Logo.jpg"
                     alt="MDB Logo"
                     loading="lazy" />
            </a>
        </div>
        <div class="col-10 companyname">
            <h3>SIRIDIPHA TRAVEL THAILAND CO.LTD</h3>

        </div>
    </div>
</nav>-->
<!--<nav class="navbar navbar-dark bg-dark">-->
  <!-- Navbar content -->
<!--</nav>-->

<!--<nav class="navbar navbar-dark bg-primary">-->
  <!-- Navbar content -->
<!--</nav>-->

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="col-2">
            <a class="navbar-brand" href="#">
                <img src="~/Images/Logo.jpg"
                     alt="MDB Logo"
                     loading="lazy" />
            </a>
        </div>
        <div class="col-10 companyname">
            <h3>SIRIDIPHA TRAVEL THAILAND CO.LTD</h3>

        </div>
    </div>
</nav>
