@model ViewModels.HotelViewModel
@{
    ViewBag.Title = "Delete";
} 
<html>
<head>
    <title>
        Index page
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    .global-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
    }

    table {
        padding-top: 10px;
        font-size: 14px;
        margin-top: 30px;
    }

    .card-title {
        font-weight: 300;
    }

    .btn {
        font-size: 14px;
        margin-top: 20px;
    }

    .login-form {
        width: 330px;
        margin: 20px;
    }

    .sign-up {
        text-align: center;
        padding: 20px 0 0;
    }

    .alert {
        margin-bottom: -30px;
        font-size: 13px;
        margin-top: 20px;
    }
</style>
<body>
    <div class="pt-3">
        <div class="global-container">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">Delete Hotel </h3>
                    <div class="sign-up">
                        <a data-bind="attr: { 'href': '@Url.Action("Index", "Hotel")/'}" class="btn-link">Back to list</a>
                    </div>
                    <h3>Are you sure you want to delete this ?</h3>
                    @using (Html.BeginForm())
                    {
                        <div class="card-text">
                            <form>
                                <div class="form-group">
                                    <label for="name">Name </label>
                                    <input type="text" class="form-control form-control-sm" id="name" aria-describedby="name" data-bind="value:name">
                                </div>
                                <div class="form-group">
                                    <label for="address1">Address1 </label>
                                    <input type="text" class="form-control form-control-sm" id="address1" data-bind="value:address1">
                                </div>
                                <div class="form-group">
                                    <label for="address2">Address2 </label>
                                    <input type="text" class="form-control form-control-sm" id="address2" data-bind="value:address2">
                                </div>
                                <div class="form-group">
                                    <label for="address3">Address3 </label>
                                    <input type="text" class="form-control form-control-sm" id="address3" data-bind="value:address3">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email </label>
                                    <input type="email" class="form-control form-control-sm" id="email" data-bind="value:email">
                                </div>
                                <div class="form-group">
                                    <label for="website">website </label>
                                    <input type="text" class="form-control form-control-sm" id="website" data-bind="value:website">
                                </div>
                                <div class="form-group">
                                    <label for="pincode">pincode </label>
                                    <input type="text" class="form-control form-control-sm" id="pincode" data-bind="value:pincode">
                                </div>
                                <div class="form-group">
                                    <label for="country">country </label>
                                    <select data-bind="options: countryCollection, optionsCaption: 'Choose country...',
                    optionsValue: function (item) { return item.id; },
                    optionsText: function (item) { return item.name; }, value: CountryId,
                    valueUpdate: 'change'" id="Country" name="Country"></select>
                                </div>
                                <div>
                                    <label for="state"> Select State</label>
                                    <select data-bind="options: stateCollection, optionsCaption: 'Choose state...',
        optionsValue: function (item) { return item.id; },
        optionsText: function (item) { return item.name; },  value: StateId,
        valueUpdate: 'change'" id="State" name="State"></select>
                                    <br />
                                </div>
                                <div class="form-group">
                                    <label for="star">star</label>
                                    <select data-bind="options: starCollection, optionsCaption: 'Choose star...',
                    optionsValue: function (item) { return item.id; },
                    optionsText: function (item) { return item.description; }, value: StarId,
                    valueUpdate: 'change'" id="Star" name="Star"></select>
                                </div>
                                <div>
                                    <label for="city">Select City</label>
                                    <select data-bind="options: cityCollection, optionsCaption: 'Choose city...',
        optionsValue: function (item) { return item.id; },
        optionsText: function (item) { return item.name; }, value: CityId,
        valueUpdate: 'change'" id="City" name="City"></select>
                                </div>
                                <input type="button" class="btn btn-primary btn-block" data-bind="click:deleteHotel" value="Delete" />
                            </form>
                        </div>
                    }
                    <script type="text/javascript">
                    var SelectedHotel = '@Html.Raw(ViewBag.SelectedHotel)';
                    </script>
                </div>
                </div>
            </div>
        </div>
</body>
</html>

<script type="text/javascript">
    //$.ajax({
    //    type: "GET",
    //    url: "/Hotel/GetStars",
    //    contentType: "application/json; charset=utf-8",
    //    dataType: "json",
    //    success: function (response) {
    //        if (response != "") {
    //            $(response).each(function (index, element) {
    //                modelDelete.starCollection.push(element);
    //            });
    //        //    ko.applyBindings(modelDelete);
    //        }
    //    }
    //});
    //$.ajax({
    //    type: "GET",
    //    url: "/Hotel/GetCounries",
    //    contentType: "application/json; charset=utf-8",
    //    dataType: "json",
    //    success: function (response) {
    //        if (response != "") {
    //            $(response).each(function (index, element) {
    //                modelDelete.countryCollection.push(element);
    //            });
    //            //    ko.applyBindings(hotelCreate);
    //        }
    //    }
    //});
    var parsedSelectedHotel = $.parseJSON(SelectedHotel);
    //alert(parsedSelectedHotel.stateId);
    $(function () {
        //alert(modelDelete);
        ko.applyBindings(modelDelete);
    //    alert("binding" + modelDelete);
    });
    var modelDelete = {
        starCollection: ko.observableArray(),
        countryCollection: ko.observableArray(),
        stateCollection: ko.observableArray(),
        cityCollection: ko.observableArray(),
        name: ko.observable(parsedSelectedHotel.name),
        address1: ko.observable(parsedSelectedHotel.address1),
        address2: ko.observable(parsedSelectedHotel.address2),
        address3: ko.observable(parsedSelectedHotel.address3),
        email: ko.observable(parsedSelectedHotel.email),
        website: ko.observable(parsedSelectedHotel.website),
        pincode: ko.observable(parsedSelectedHotel.pincode),
        StarId: ko.observable(parsedSelectedHotel.star),
        CountryId: ko.observable(parsedSelectedHotel.countryId),
        StateId: ko.observable(parsedSelectedHotel.stateId),
        CityId: ko.observable(parsedSelectedHotel.cityId),
        Id: ko.observable(parsedSelectedHotel.id),
        deleteHotel: function () {
            //alert(parsedSelectedHotel.id);
            var id = parsedSelectedHotel.id;
            id = parseInt(id);
            try {
                $.ajax({
                    url: '/Hotel/DeleteHotel?id='+id,
                    type: 'POST',
                    dataType: 'json',
                    //data: id,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.isError == false)
                            window.location.href = data.redirectUrl;
                        else {
                            alert("Something went wrong when you delete hotel");
                        }
                    },
                    error: function () {
                        alert("Something went wrong when you delete hotel");
                    }
                });
            }
            catch (e) {
                window.location.href ="/Hotel/ListofHotels/"
            }
        }
    };
    $(parsedSelectedHotel.country).each(function (index, element) {
        modelDelete.countryCollection.push(element);
    });
    $(parsedSelectedHotel.states).each(function (index, element) {
        modelDelete.stateCollection.push(element);
    });
    $(parsedSelectedHotel.city).each(function (index, element) {
        modelDelete.cityCollection.push(element);
    });
    $(parsedSelectedHotel.stars).each(function (index, element) {
        modelDelete.starCollection.push(element);
    });
    function successCallback(data) {
        window.location.href = '/Hotel/Index/';
    }

    function errorCallback(err) {
        window.location.href = '/Home/Index/';
    }
</script>
